* {
  margin: 0px;
  padding: 0px;
}

#container {
  background: lightgrey;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 10vh 80vh 10vh;
  grid-template-columns: 30vw 70vw;
  grid-template-areas: 
  "hd hd"
  "sd mn"
  "ft ft"
  ;
}

#hd {
  background-color:black;
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: hd;
}

#mn {
  background-color: white;
  width: 70vw;
  height: 80vh;
 display: grid;   font-size: large;
  font: bold;
 color:black
   grid-template-rows 80vh ;
  grid-template-columns: 23.3vw 23.3vw 23.3vw ;
  grid-template-areas: 
"item01 item02 item03";

grid-area: mn;
}

#sd {
  background-color: black;
  height: 80vh;
  width: 30vw;
  grid-area: sd;
  font: bold;
 color: white;
}

#ft {
  background-color: black;
  height: 10vh;
  width: 100vw;
  grid-area: ft;
  
}

#logo {
  border: 1px solid #000;
  height: 10vh;
  width: 20vw;
  background-color: black;
}

#navbar {
  border: 1px solid #000;
  height: 10vh;
  width: 50vw;
  background-color: black;
  color: white ;
}

.box {
  border: 1px solid color none;
  /* height: 40vh;
  width: calc(100vh/3); */
}


#item01 {
  grid-area: item01;
}

#item02 {
  grid-area: item02;
}

#item03 {
  grid-area: item03;
}


